<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cardModal">View Profile</button>

<!-- List-Navigations -->
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="employee.role=='Manager'" routerLink="employees">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">Certificates</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div>





<!-- Profile Modal -->
<div class="modal fade" id="cardModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 25rem;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{employee.name|uppercase}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../../../assets/user1.jpg" class="card-img-top" alt="User-Icon">
                <div class="card-body">
                    <p class="card-text">{{employee.bio}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#updateEmployeeModal">Update Profile</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!-- Update Profile Modal -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" aria-labelledby="updateEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateEmployeeModalLabel">Update Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="updateEmployee()" #form="ngForm" aria-hidden="true"
                class="d-flex flex-column" style="row-gap: 20px;">
                <div class="form-group w-100">
                    <label for="name">Name</label>
                    <input required type="email" class="form-control" id="name" aria-describedby="emailHelp"
                        name="name" [(ngModel)]='employee.name' placeholder="Enter name">
                </div>
                <div class="form-group w-100">
                    <label for="email">Email address</label>
                    <input required type="email" class="form-control" id="email" name="email"
                        [(ngModel)]='employee.email' placeholder="Enter email">
                </div>
                <div class="form-group w-100">
                    <label for="password">Password</label>
                    <input required type="password" class="form-control" id="password" placeholder="Password"
                        name="password" [(ngModel)]="employee.password">
                </div>
                <div class="form-group w-100">
                    <label for="bio">Bio</label>
                    <textarea class="form-control" id="bio" rows="3" name="bio"
                        placeholder="Enter bio" [(ngModel)]='employee.bio' required></textarea>
                </div>
                <button [disabled]='form.invalid' data-bs-dismiss="modal" type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
      </div>
    </div>
</div>












