<h2>List of Certificates</h2>
<button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#addCertificateModal">Add Certificate</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let c of certificates">
            <td>{{ c.name }}</td>
            <td>{{ c.description }}</td>
            <td><button class="btn btn-warning" (click)="deleteCertificate(c.id)">Delete</button></td>
        </tr>
    </tbody>
</table>






<!-- Add Certificate Modal -->
<div class="modal fade" id="addCertificateModal" tabindex="-1" aria-labelledby="addCertificateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCertificateModalLabel">Add Certificate</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="addCertificate()" #form2="ngForm" aria-hidden="true"
                class="d-flex flex-column" style="row-gap: 20px;">
                <div class="form-group w-100">
                    <label for="name1">Name</label>
                    <input required type="text" class="form-control" id="name1" name="name" [(ngModel)]='certificate.name' placeholder="Enter name">
                </div>
                <div class="form-group w-100">
                    <label for="description1">Description</label>
                    <textarea class="form-control" id="description1" rows="3" name="description"
                        placeholder="Enter description" [(ngModel)]='certificate.description' required></textarea>
                </div>
                <button [disabled]='form2.invalid' data-bs-dismiss="modal" type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
      </div>
    </div>
</div>